/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for scrollbar-hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Font families */
body {
  font-family: 'Inter', sans-serif;
}

.font-serif {
  font-family: 'Lora', serif;
}
